
/** General **/
#zoninator-wrap {
	overflow: hidden;
	clear: both;
	position: relative;
	margin-top: 15px;
}

#zoninator-wrap .delete {
	color: #BC0B0B;
}

.zone-slug {
	overflow: hidden;
	color: #999999;
}

.zone-slug span {
	float: right;
}

.zone-slug label {
	float: right;
}

/** Select Zones**/
.manage-zones {
	background: #fbfbfb;
	border: 1px solid #e5e5e5;
	margin-top: 20px;
	overflow: hidden;
	padding: 10px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

/** Edit **/
#zone-edit-wrapper {
	margin-top: 15px;
	overflow: hidden;
	border: 1px solid #e5e5e5;
	background: #f5f5f5;
	max-width: 980px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
	#zone-edit-wrapper .form-wrap {
		margin: 0;
	}
		.edit-zone {
			float: right;
			font-size: 13px;
			font-weight: normal;
		}
		a.edit-zone:active,
		a.edit-zone:focus {
			outline: none;
		}
		#zone-edit-wrapper .form-field {
			padding: 0;
		}
			#zone-edit-wrapper .form-field.error {
				padding: 0 10px 5px;
			}
			#zone-edit-wrapper .form-field input,
			#zone-edit-wrapper .form-field textarea {
				width: 100%;
			}
		#zone-edit-wrapper .submit-field {
			width: 100%;
		}
			#zone-edit-wrapper .submit-field .submitdelete {
				float: right;
			}
		#zone-info-readonly label {
			font-weight: bold;
		}
		#zone-info-readonly span {
		}

/** Zone Posts **/
.zone-info-col {
	border-bottom: 1px solid #dfdfdf;
	padding: 0 10px;
}
.zone-info-closed {
	display: none;
}
#zone-info {
	border-top: 1px solid #dfdfdf;
	margin-bottom: 10px;
	padding-top: 10px;
}
.zone-posts-col {
	background: #fff;
	padding: 5px 10px 10px;
}
	.zone-posts-col h3 {
		margin: 3px 0;
	}
	.zone-posts-wrapper {
		padding-top: 15px;
	}
	.zone-posts-wrapper.loading {
		background: url(images/wpspin_light.gif) no-repeat right top;
	}
	.zone-posts-wrapper.readonly {
	}
		.zone-posts-wrapper.readonly .zone-search-wrapper,
		.zone-posts-wrapper.readonly .row-actions {
			display: none !important;
		}
		.zone-posts-wrapper.readonly .zone-post {
			cursor: default !important;
		}
		.zone-posts-wrapper.readonly .zone-post:hover .zone-post-position {
			background: none;
			text-indent: 0;
		}
		.zone-posts-wrapper.readonly .zone-advanced-search-filters-heading {
			display: none !important;
		}
	
.zone-posts-list {
	margin: 10px 0;
}
	.zone-posts-list .ui-state-highlight {
		margin-bottom: 5px;
		-moz-border-radius: 4px; -wekbit-border-radius: 4px; -ms-border-radius: 4px; border-radius: 4px;
	}
	.zone-posts-list.ui-sortable .zone-post {
		cursor: move;
	}
	.zone-post {
		padding: 5px 0 5px 10px;
		margin-bottom: 5px;
		font-size: 12px;
		line-height: 15px;
		font-weight: bold;
		color: #444;
		overflow: hidden;
		border: 1px solid #dfdfdf;
		background: #f5f5f5;
	}
	.zone-post:hover {
		border-color: #999;
		background-color: #ffffff;
	}
		.zone-post table {
			width: 100%;
		}
			.zone-post:hover .zone-post-position {
				background: url(images/drag.png) no-repeat center;
				text-indent: -9999px;
			}
			.zone-post-position {
				font-size: 24px;
				line-height: 32px;
				font-weight: normal;
				text-align: center;
				width: 32px;
			}
			.zone-post-status {
				color: #999;
			}
		.zone-post .row-actions {
			font-size: 11px;
			font-weight: normal;
		}
		.zone-post:hover .row-actions,
		.zone-post.loading .row-actions,
		.zone-post:hover .zone-post-handle,
		.zone-post.loading  .zone-post-handle {
			visibility: visible;
		}
		.zone-post.loading .zone-post-position {
			background: url(images/wpspin_light.gif) no-repeat center center;
			text-indent: -9999px;
		}
	.zone-search-wrapper {
		padding: 7px 0;
		border-bottom: 1px solid #dfdfdf;
	}
		#zone-post-search {
			width: 100%;
		}
		#zone-post-latest {
			width: 100%;
		}

/** Autocomplete **/
.ui-autocomplete-input.loading {
	background: url(images/wpspin_light.gif) no-repeat right center;
}
.ui-autocomplete {
	min-width: 330px;
	max-width: 600px;
	font-size: 13px;
	line-height: 17px;
}
	.ui-autocomplete .ui-corner-all {
		padding-top: 5px;
		padding-bottom: 5px;
		border-bottom: 1px solid #dfdfdf;
		cursor: pointer;
		overflow: hidden;
	}
	.ui-autocomplete .title {
		display: block;
		width: 80%;
		float: left;
	}
	.ui-autocomplete .date {
		text-transform: uppercase;
		color: #666;
		font-size: 11px;
		clear: both;
		float: left;
	}
	.ui-autocomplete .type {
		text-transform: uppercase;
		color: #666;
		font-size: 11px;
		width: 19%;
		margin-left: 1%;
		float: right;
		text-align: right;
	}
	.ui-autocomplete .status {
		font-size: 10px;
		width: 19%;
		margin-left: 1%;
		float: right;
		text-align: right;
	}

.zone-advanced-search-filters-wrapper {
	display: none;
	padding: 10px 0;
}	

.zone-advanced-search-filters-heading {
	float: right;
	font-weight: bold;
}
	.zone-toggle-advanced-search {
		cursor: pointer;
	}

/*RTL*/
.rtl .edit-zone {
	float: left;
}

.rtl .zone-advanced-search-filters-heading {
	float: left;
}

.rtl .zone-posts-wrapper.loading {
	background-position: left top;
}

.rtl .ui-autocomplete-input.loading {
	background-position: left center;
}

.rtl #zone-edit-wrapper .submit-field .submitdelete {
	float: left;
}

/* Mini desktop */
@media (min-width: 980px) and (max-width: 1279px) {
	.zone-tabs-container h2 .nav-tab {
		font-size: 13px;
		padding: 3px 5px;
	}
}

/* Tablet and Mobile */
@media (max-width: 979px) {
	.zone-tabs-container h2 .nav-tab {
		font-size: 13px;
		padding: 3px 5px;
	}
}

/* Mobile */
@media (max-width: 768px) {
	.zone-tabs-container h2 {
		padding-right: 0;
		padding-left: 0;
	}
	.zone-tabs-container h2 .nav-tab {
		display: block;
		margin: 0;
	}
}