name: Run PHPUnit

on:
  # Prevent the "push" build from running when there are only irrelevant changes.
  push:
    paths-ignore:
      - "**.md"

jobs:
  test:
    name: WP ${{ matrix.wordpress }} on PHP ${{ matrix.php }}
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.allowed_failure }}

    env:
      WP_VERSION: ${{ matrix.wordpress }}

    strategy:
      matrix:
        include:
          # Check lowest supported WP version, with the lowest supported PHP.
          - wordpress: '5.9'
            php: '7.4'
            allowed_failure: false
          # Check latest WP with the highest supported PHP.
          - wordpress: 'latest'
            php: 'latest'
            allowed_failure: false
          # Check upcoming WP.
          - wordpress: 'trunk'
            php: 'latest'
            allowed_failure: true
          # Check upcoming PHP - only needed when a new version has been forked (typically Sep-Nov)
#          - wordpress: 'trunk'
#            php: 'nightly'
#            allowed_failure: true
      fail-fast: false

    steps:

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP ${{ matrix.php }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: Install Composer dependencies
        uses: ramsey/composer-install@v3
        with:
          composer-options: "${{ matrix.composer-options }}"

      - name: Setup problem matchers for PHP
        run: echo "::add-matcher::${{ runner.tool_cache }}/php.json"

      - name: Setup Problem Matchers for PHPUnit
        run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Show PHP and PHPUnit version info
        run: |
          php --version
          ./vendor/bin/phpunit --version

      - name: Start MySQL Service
        run: sudo systemctl start mysql.service

      # This is needed as the integration tests use SVN to download the WordPress core and test dependencies.
      - name: Install SVN (Subversion)
        run: |
          sudo apt-get update
          sudo apt-get install subversion

      - name: Prepare environment for integration tests
        run: composer prepare-ci ${{ matrix.wordpress }}

      - name: Run integration tests (single site)
        run: composer test

      - name: Run integration tests (multisite)
        run: composer test-ms
